body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #141414;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.search-input {
  padding: 10px;
  width: 50%;
  font-size: 16px;
  margin-bottom: 20px;
  margin-left: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 10px;
  align-self: flex-end;
}